<li class='dropdown medium only-icon widget'>
  <a class='dropdown-toggle' data-toggle='dropdown' data-hover="dropdown" href='#'>
    <i class='icon-rss'></i>
    <div class='label'>5</div>
  </a>
  <ul class='dropdown-menu'>
    <li>
      <a href='#'>
        <div class='widget-body'>
          <div class='pull-left icon'>
            <i class='icon-user text-success'></i>
          </div>
          <div class='pull-left text'>
            John Doe está en linea
            <small class='text-muted'>justo ahora</small>
          </div>
        </div>
      </a>
    </li>
    <li class='divider'></li>
    <li class='widget-footer'>
      <a href='#'>Todas las Notificaciones</a>
    </li>
  </ul>
</li>